@import "./../../../assets/styles/utils/index.scss";
@import "./../../../assets/styles/global/index.scss";

$borderColor: #ced5e1;
.password-security-setting {
  .info-block {
    background: #ffffff;
    border-radius: 7px;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    .block-hdr {
      display: flex;
      align-items: center;
      height: 70px;
      border-bottom: 1px solid #ced5e1;
      padding: 22px 22px;
      @include media("<=phone") {
        padding: 20px 20px;
      }
      .hdr-title {
        font-size: 16px;
        font-weight: 500;
        color: $color-black-1;
        flex: 1;
      }
      .edit-btn {
        border: 1px solid #828282;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        svg {
          height: 12px;
          color: #3b3a39;
        }
      }
    }
    .info-wrapper {
      padding: 23px 22px;
      width: 100%;
      @include media("<=phone") {
        padding: 23px 20px;
      }
      .info-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        .info-row-col {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 3px;
          }
          .row-title {
            font-size: 16px;
            font-weight: 500;
            color: $color-black-1;
            margin-bottom: 11px;
          }
          .item {
            display: flex;
            align-items: flex-start;
            .icon {
              svg {
                margin-top: 1px;
                margin-left: -6px;
                height: 17px;
                width: 17px;
                color: $color-brand-red;
                margin-right: 15px;
              }
            }
            .lbl {
              font-size: 13px;
              color: $color-black-1;
              margin-bottom: 5px;
            }
            .txt {
              font-size: 13px;
              font-weight: 300;
              color: $color-black-1;
            }
          }
        }
      }
      .row-block {
        padding: 13px 0px;
        .field {
          width: 100%;
          &:not(:last-child) {
            margin-bottom: 18px;
          }
          .input-row {
            display: flex;
            align-items: center;
            width: 100%;

            .iput {
              height: 43px;
              font-size: 12px;
              color: $color-black-1;
              width: 100%;
              padding: 8px 18px;
              border: 1px solid $borderColor;
              border-radius: 3px;
              margin-right: 20px;
              @include fontInter;
              @include anim;
              outline: none;
              &:focus {
                border-color: $color-brand-red;
                outline: none;
              }
            }
            .save-btn {
              @include fontInter;
              height: 43px;
              padding: 10px;
              width: 118px;
              font-size: 12px;
              font-weight: 500;
              color: #fff;
              background: $color-brand-red;
              border-radius: 3px;
              text-align: center;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              @include media("<=phone") {
                width: fit-content;
                padding: 10px 14px;
              }
              &:hover {
                opacity: 0.9;
              }
            }
            .send-otp-btn {
              background-color: $color-brand-blue;
            }
          }
        }
      }
    }
  }
}

// Change Password Modal
.change-password-modal {
  width: 500px;
  padding: 0px;
  @include media("<=tablet") {
    width: 400px;
  }
  @include media("<=phone") {
    width: 100%;
  }
  .password-modal-hdr {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $borderColor;
    padding: 20px 20px;
    height: 55px;
    .modal-title {
      flex: 1;
      font-size: 16px;
      font-weight: 600;
      color: $color-black-1;
    }
    .modal-cross-btn {
      font-size: 24px;
      color: $color-grey-5;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .modal-content {
    padding: 20px 20px;
    width: 100%;
    .field {
      width: 100%;
      margin-bottom: 18px;
      .lbl {
        font-size: 14px;
        color: $color-black-1;
        margin-bottom: 5px;
      }
      .input-row {
        display: flex;
        align-items: center;
        padding: 8px 18px;
        border: 1px solid $borderColor;
        width: 100%;
        border-radius: 3px;
        @include anim;
        &:focus-within {
          border-color: $color-brand-red;
          outline: none;
        }
      }
      .iput {
        font-size: 14px;
        color: $color-black-1;
        width: 100%;
        outline: none;
        background: none;
      }
      .icon {
        svg {
          height: 18px;
          width: 18px;
          color: #a19f9d;
        }
      }
    }
    .actions {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 25px;
      .action-btn {
        padding: 10px;
        width: 118px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background: $color-brand-red;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
        &.transparent {
          background: transparent;
          color: $color-grey-5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.span-alert {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  display: block;
}
.verified {
  color: $color-brand-blue;
}
.nonverified {
  color: $color-red;
}

.account-settings-phone {
  height: 43px;
  font-size: 14px;
  color: $color-black-1;
  width: 100%;
  padding: 8px 18px;
  border: 1px solid $borderColor;
  border-radius: 3px;
  margin-right: 20px;
  @include anim;
  outline: none;
  background: none;
  @include media("<=phone") {
    margin-right: 10px;
  }
  &:focus {
    border-color: $color-brand-red;
    outline: none;
  }
  input {
    outline: none;
    width: 100%;
  }
}
.PhoneInputCountry > input {
  outline: none;
}
.PhoneInputInput {
  outline: none;
}
.PhoneInputInput:focus-visible {
  outline: none;
}

.form-fields-wrapper {
  @include flex-column;
}
.form-fields-wrapper > div {
  margin-bottom: 15px;
}
.send-otp-btn {
  background-color: $color-green;
}

.otp-phone-sent-success {
  font-size: 12px;
  @include fontInter;
  color: $color-brand-red;
}

.form-fields-wrapper-phone > div {
  // max-width: 220px;
  @media screen and (max-width: 768px) {
    max-width: 220px;
  }
}
