@import "src/assets/styles/utils/index.scss";
@import "src/assets/styles/global/index.scss";

.user-detail-form {
  .content {
    padding-bottom: 50px;
    @include media("<=tablet") {
      padding-bottom: 40px;
    }
    @include media("<=phone") {
      padding-bottom: 20px;
    }
    .title {
      font-size: 22px;
      font-weight: 700;
      color: $color-black-1;
      margin-bottom: 20px;
      @include media("<=phone") {
        font-size: 20px;
      }
    }
    .form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      @include media("<=medium") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media("<=phoneH") {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
      }
      @include media("<=phone") {
        grid-template-columns: repeat(1, 1fr);
      }
      .field {
        display: flex;
        flex-direction: column;
        .lbl {
          font-size: 14px;
          color: $color-black-1;
          margin-bottom: 7px;
        }
        .iput {
          width: 100%;
          background: $color-white;
          padding: 10px 15px;
          font-size: 14px;
          color: $color-black-1;
          border-radius: 3px;
          border: 1px solid rgba(17, 17, 19, 0.2);
          &::placeholder {
            color: #a19f9d;
          }
        }
        .custom-selector {
          background: $color-white;
          padding: 10px 15px;
          .selector-options {
            top: 46px;
          }
        }
      }
    }
  }
}
