@import "/src/assets/styles/utils/index.scss";
@import "/src/assets/styles/global/index.scss";
.a-input {
  width: 100%;
}

.a-input--disabled {
  //disable
  background-color: $color-grey-2;
  color: $color-grey-4;
  cursor: not-allowed;
}
.a-auth-input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 6px;
  resize: vertical;
  font-size: 12px;
  @include fontInter;
}

.a-account-settings-contact-info {
  font-size: 14px;
  color: $color-black-1;
  padding: 8px 18px;
  border: 1px solid $color-white-2;
  width: 100%;
  border-radius: 3px;
  @include anim;
  &:focus {
    border-color: $color-brand-red;
  }
}
