.ReactModalPortal {
  position: relative;
  z-index: 1100;
}

.ReactModal__Content {
  position: absolute;
  inset: 50% auto auto 50%;
  background-color: #ffffff;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
  transform: translate(-50%, -50%);
  // max-width: 557px;
  opacity: 1;

  @include Mobile_Portrait {
    width: 88%;
  }
}

.ReactModal__Overlay {
  inset: 0;
  position: fixed;
  background: rgba(17, 24, 39, 0.9);
}
