@import "/src/assets/styles/utils/index.scss";
@import "/src/assets/styles/global/index.scss";
// Edit Cover Photo Modal
.edit-cover-modal {
  width: 750px;
  padding: 0px;
  @include media("<=medium") {
    width: 700px;
  }
  @include media("<=tablet") {
    width: 650px;
  }
  @include media("<=phoneH") {
    width: 450px;
  }
  @include media("<=phone") {
    width: 100%;
  }
  .modal-hdr {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 20px 20px;
    height: 55px;
    .modal-title {
      flex: 1;
      font-size: 16px;
      font-weight: 600;
      color: $color-black-1;
    }
    .modal-cross-btn {
      font-size: 26px;
      color: $color-black-1;
      font-weight: 300;
      cursor: pointer;
    }
  }
  .modal-content {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    .cover-img {
      @include bgImage(5px);
      height: 200px;
      @include media("<=phone") {
        height: 150px;
      }
    }
    .upload-btn {
      color: $color-brand-red;
      font-size: 14px;
      text-align: center;
      margin-top: 10px;
    }
  }
  .actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
    @include media("<=tablet") {
      margin-top: 14px;
    }
    .action-btn {
      padding: 10px;
      min-width: 120px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background: $color-brand-red;
      border-radius: 3px;
      text-align: center;
      cursor: pointer;
      @include media("<=phone") {
        min-width: inherit;
        padding: 9px 22px;
      }
      &:hover {
        opacity: 0.9;
      }
      &.transparent {
        background: transparent;
        color: $color-grey-5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
